body {
    background: #eee;
}

/* .home-center-content {
    padding-left: 280px;
    padding-right: 20px;
} */

.sidebar-list a {
    text-decoration: none;
}

.logo-text {
    /* color: rgb(0, 255, 242); */
    color: #ffffff;
    font-weight: bolder;

}

#side_nav {
    /* background: #1B1A55; */
    background-color: #070F2B;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    border-right: 1px solid white;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #eee;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
    /* color: red; */
}

.sidebar li a:hover {
    /* color: red; */
    background-color: purple;
    /* color: red; */
    font-weight: 700;
    border-radius: 10px;
}

.sidebar li a {
    color: #fff;
}

.sidebar-bottom {
    position: absolute;
    bottom: 10px;
}

.red-dot {
    color: orangered;
    font-size: 30px;
}

.categories-list {
    list-style: none;
}

.categories-list li {

    background-color: grey;
    margin: 2px;
    padding: 3px 6px;
    border-radius: 20px;
}

.categories-list li a {
    text-decoration: none;
    color: white;
}

.center-thumbnail {
    height: 180px;
    object-fit: cover;
}

.center-content-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Optional properties for better rendering */
    white-space: normal;
    /* Adjust font-size and line-height if needed */
    font-size: 16px;
    line-height: 1.5;
}

.popular-thumbnail {
    /* Does this change something */
    height: 200px;
    /* height: 15px; */
}

.parent-div {
    margin-left: 250px;
    min-height: 100vh;
}

.blog-details-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 40vh;
}

.blog-details-title-image {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.blog-details-content p {
    font-size: larger;
    word-spacing: 4px;

}

.popular-image {
    position: relative;
    height: 100%;

    /* display: flex;
    justify-content: flex-end; */
    position: relative;
}

.popular-image img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.popular-image>div {
    height: 100%;
    /* background-color: red; */

}

.popular-image h4 {
    /* text-align: end; */
    padding: 0 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.card {
    /* UNIVERSAL */
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px;
}

.popular-image-card-div {
    background-color: rgba(0, 0, 0, 0.4) !important;
    height: 200px;
}

.home-our-stories {
    /* text-align: center; */
    /* background-color: grey; */
}

i {
    margin-right: 8px;
}

.blog-details-title p {
    color: rgb(219, 219, 219);
}


.format-date {
    margin-left: 5px;
    display: inline-block;
    /* Make the content flow inline */
    width: max-content;
    /* Allow content to shrink to fit its width */
    white-space: nowrap;
    /* Prevent wrapping to next line */
    overflow: hidden;
    /* Hide content that overflows */
    text-overflow: clip;
    /* Clip overflowing content */
    width: 13.5ch;
    /* Adjust as needed (1ch = character width) */
}

.blog-details-comment-date {
    color: rgb(83, 83, 83);
    font-weight: 400;
    margin-left: 60px;

}

.main-content-parent {
    /* height: 100vh; */
    /* background-color: red; */
    margin: 0px;
    margin-left: 260px;
    padding-right: 5px;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        /* min-height: 100vh; */
        height: calc(103vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)) !important;
        /* height: 80vh!important; */
        z-index: 1;

    }

    #side_nav.active {
        margin-left: 0;
    }

    .main-content-parent {
        margin-left: 0px;
    }
}

body {
    /* overflow: hidden */
    overflow-x: visible;
}

.search-and-results {
    position: relative;
}

/* Middle search results */
#searchResults {
    position: absolute;
    background-color: rgb(68, 68, 68);
    z-index: 100;
    top: 40px;
    right: 0px;
    border-radius: 20px;
    width: 60vw;
}
#searchResults ul {
    /* list-style: none; */
    margin-top: 10px;
}
#searchResults ul li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
#searchResults ul li:hover {
    background-color: #7a7a7a;
    color: #000;
}
#searchResults ul li:last-child {
    border-bottom: none;
}
#searchResults ul li a {
    text-decoration: none;
    color: #fff;
}

/* side search results */
#sideSearchResults {
    position: absolute;
    background-color: rgb(68, 68, 68);
    z-index: 100;
    top: 40px;
    right: 0px;
    border-radius: 20px;
    width: 60vw;
}
#sideSearchResults ul {
    /* list-style: none; */
    margin-top: 10px;
}
#sideSearchResults ul li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
#sideSearchResults ul li:hover {
    background-color: #7a7a7a;
    color: #000;
}
#sideSearchResults ul li:last-child {
    border-bottom: none;
}
#sideSearchResults ul li a {
    text-decoration: none;
    color: #fff;
}


#hide-sidebar {
    display: none;
}

.bi-list-button {
    display: none;
}

.center-search {
    display: none;
}

@media(max-width: 767px) {
    .bi-heart-fill {
        display: inline;
    }

    .bi-list-button {
        display: inline;
    }

    #hide-sidebar {
        display: inline;
    }

    .center-search {
        display: block;
    }

    #searchResults {
        right: 10vw;
        border-radius: 20px;
        width: 90vw;
    }
}

